* { box-sizing: border-box; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 8px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font: 16px Georgia;
    margin: 0;
    background-color: lightgray;
}

#c1 {
    border: 2px solid black;
    background-color: white;
}

.paint label {
    display: block;
    margin: 10px 0 10px 0;
    padding: 4px;
    border-radius: 8px;
    background-color: #c3c3c3;
}
.paint [type="number"] {
    width: 120px;
}
.paint label:last-of-type {
    text-align: center;
}
.paint label:last-of-type [type="button"] {
    padding: 2px 15px;
}
.paint .style-rectangle,
.paint .style-ellipse {
    background-color: #969696;
}