<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ HeadTitle }}</title>
</head>
<body>
    <h1>{{ BodyTitle }}</h1>
    <div>{{ BodyContent }}</div>

    {{> list }}
</body>
</html>